<div id="commentsWrapper">
    <section class="canvasZone">
        <div>
            <div class="controlZone">
                <div class="socialAndCommentsArea">
                    <aside class="socialBar">
                        <button type="button" class="button-action button-command" aria-label="Comment, enter to type a comment on this page">
                            <span class="flexContainer">
                                <i class="ms-Icon ms-Icon--Comment button-icon"></i>
                                <span class="button-text"><a href="{{url}}#isso-thread">Comment</a></span>
                            </span>
                        </button>
                    </aside>
                    <aside role="complementary">
                        <div class="visual-titleArea">
                            <h2><a href="{{url}}#isso-thread">Comment</a></h2>
                        </div>
                        <div data-title="{{title}}" data-comment-id="{{comment_id}}" id="p-comments-thread"></div>
                    </aside>
                </div>
            </div>
        </div>
    </section>
</div>