{{!< default}}

<article>
    {{#post}}
    {{> "pageHeader"}}
    <section class="canvasZone row">
        <div>
            <div class="controlZone">
                {{content}}
            </div>
        </div>
    </section>
    {{/post}}
</article>
