{{!< default}}

<article>
    {{#post}}
    {{> "pageHeader"}}
    {{!--
    <section class="canvasZone row">
        <div>
            <div class="controlZone">
                {{content}}
            </div>
        </div>
    </section>
    --}}
    {{/post}}
    <section class="canvasZone">
        <div>
            <div class="controlZone ms-Grid">
                {{#get "posts" filter="featured:true" include="authors,tags" as |featuredposts pagination|}}
                <div class="list-posts ms-Grid-row" role="presentation">
                    {{#foreach featuredposts}}
                        {{> "controls/card"}}
                    {{else}}
                        <center>No featured post available.</center>
                    {{/foreach}}
                </div>
                {{/get}}
            </div>
        </div>
    </section>
</article>
